
<!-- Contenedor para el filtro y el botón -->
<div class="filter-container">

  <!-- Campo de búsqueda -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Type to filter results"
    />
  </mat-form-field>

  <!-- Botón -->
  <mat-card-content class="b-t-1 button-container">
    <button
      mat-flat-button
      color="primary"
      matTooltip="Add a new item"
      (click)="openModal()"
    >
      Add
    </button>
  </mat-card-content>

</div>

<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Crafts - Alpine Construction</mat-card-title>
  
      <div class="table-responsive">
        
      </div>
    </mat-card-content>
  </mat-card>
  
