<h2 mat-dialog-title>Areas</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-grid">
    
      <!-- <mat-form-field appearance="fill">
        <mat-label>Unidad USA</mat-label>
        <input matInput formControlName="unidadUsa" />
        <mat-error *ngIf="form.get('unidadUsa')?.hasError('required')">unidadUsa is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unidad MX</mat-label>
        <input matInput formControlName="unidadMx" />
        <mat-error *ngIf="form.get('unidadMx')?.hasError('required')">unidadMx is required</mat-error>
      </mat-form-field> -->

      <!-- USA Unit Selection -->
      <mat-form-field appearance="fill">
        <mat-label>USA Unit</mat-label>
        <mat-select formControlName="unidadUsa">
          <mat-option *ngFor="let unit of usaUnits" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- MX Unit Selection (Readonly) -->
      <mat-form-field appearance="fill">
        <mat-label>MX Unit</mat-label>
        <mat-select formControlName="unidadMx" readonly>
          <mat-option *ngFor="let unit of mxUnits" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Room</mat-label>
        <input matInput type="number" formControlName="room" />
        <mat-error *ngIf="form.get('room')?.hasError('required')">Room is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Room Name</mat-label>
        <input matInput formControlName="roomName" />
        <mat-error *ngIf="form.get('roomName')?.hasError('required')">Room Name is required</mat-error>
      </mat-form-field>

      
      <mat-form-field appearance="fill">
        <mat-label>Craft - Area</mat-label>
        <mat-select formControlName="craftId">
          <mat-option *ngFor="let option of craftOptions" [value]="option._id">
            {{ option.name }} - {{ option.area }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('craft')?.hasError('required')">
          Craft is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Craft</mat-label>
        <input matInput formControlName="craft" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Area</mat-label>
        <input matInput formControlName="area" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName="cantidad" />
        <mat-error *ngIf="form.get('cantidad')?.hasError('required')">Cantidad is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
        <mat-error *ngIf="form.get('price')?.hasError('required')">Price is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <mat-select formControlName="direction">
          <mat-option *ngFor="let dir of directions" [value]="dir">{{ dir }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('direction')?.hasError('required')">Direction is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" />
        <mat-error *ngIf="form.get('type')?.hasError('required')">Type is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Disposal(20%)</mat-label>
        <input matInput type="number" formControlName="disposal" />
        <mat-error *ngIf="form.get('disposal')?.hasError('required')">Disposal is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Total Cantidad</mat-label>
        <input matInput type="number" formControlName="totalCantidad" />
        <mat-error *ngIf="form.get('totalCantidad')?.hasError('required')">Total Cantidad is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Bidden</mat-label>
        <input matInput type="number" formControlName="bidden" />
        <mat-error *ngIf="form.get('bidden')?.hasError('required')">Bidder is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Total</mat-label>
        <input matInput type="number" formControlName="total" />
        <mat-error *ngIf="form.get('total')?.hasError('required')">Total is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad USA</mat-label>
        <input matInput formControlName="cantidadUsa" readonly/>
        <mat-error *ngIf="form.get('cantidadUsa')?.hasError('required')">cantidadUsa is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad MX</mat-label>
        <input matInput formControlName="cantidadMx" readonly/>
        <mat-error *ngIf="form.get('cantidadMx')?.hasError('required')">cantidadMx is required</mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
    Submit
  </button>
</mat-dialog-actions>

