<h2 mat-dialog-title>Areas</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-grid">

      <!-- USA Unit Selection -->
      <mat-form-field appearance="fill">
        <mat-label>USA Unit</mat-label>
        <mat-select formControlName="unidadUsa">
          <mat-option *ngFor="let unit of usaUnits" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- MX Unit Selection (Readonly) -->
      <mat-form-field appearance="fill">
        <mat-label>MX Unit</mat-label>
        <mat-select formControlName="unidadMx" readonly>
          <mat-option *ngFor="let unit of mxUnits" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Room</mat-label>
        <input matInput type="number" formControlName="room" />
        <mat-error *ngIf="form.get('room')?.hasError('required')">Room is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Room Name</mat-label>
        <input matInput formControlName="roomName" />
        <mat-error *ngIf="form.get('roomName')?.hasError('required')">Room Name is required</mat-error>
      </mat-form-field>

      
      <mat-form-field appearance="fill">
        <mat-label>Craft - Area</mat-label>
        <mat-select formControlName="craftId">
          <mat-option *ngFor="let option of craftOptions" [value]="option._id">
            {{ option.name }} - {{ option.area }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('craft')?.hasError('required')">
          Craft is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Craft</mat-label>
        <input matInput formControlName="craft" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Area</mat-label>
        <input matInput formControlName="area" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName="cantidad" />
        <mat-error *ngIf="form.get('cantidad')?.hasError('required')">Cantidad is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <mat-select formControlName="direction">
          <mat-option *ngFor="let dir of directions" [value]="dir">{{ dir }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('direction')?.hasError('required')">Direction is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" />
        <mat-error *ngIf="form.get('type')?.hasError('required')">Type is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Disposal(20%)</mat-label>
        <input matInput type="number" formControlName="disposal" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Total Cantidad</mat-label>
        <input matInput type="number" formControlName="totalCantidad" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Bidder</mat-label>
        <input matInput type="number" formControlName="bidden" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Total</mat-label>
        <input matInput type="number" formControlName="total" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad USA</mat-label>
        <input matInput formControlName="cantidadUsa" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad MX</mat-label>
        <input matInput formControlName="cantidadMx" readonly/>
      </mat-form-field>
      <br>
      <!--CheckBoxes-->
      <mat-checkbox formControlName="checkbox_Straight">Straight</mat-checkbox>
      <mat-checkbox formControlName="checkbox_45_Angle">45 Angle</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Brick">Brick</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Random">Random</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Designs">Designs</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Medalions">Medalions</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Heated_Floors">Heated Floors</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Steam_Showers">Steam Showers</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Shower_Pan">Shower Pan</mat-checkbox>
      <mat-checkbox formControlName="checkbox_Benches">Benches</mat-checkbox>
      <!---->

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
    Submit
  </button>
</mat-dialog-actions>

