<h2 mat-dialog-title>PDF Preview</h2>

<mat-dialog-content class="pdf-preview-content">
  <div class="preview-container">
    
    <div class="options-panel">
      <h4 class="options-header">
        <span>Crafts</span>
        <span class="employees-label">Employees</span>
      </h4>
      <form [formGroup]="optionsForm" class="options-form">
        <div *ngFor="let craft of data.crafts" [formGroupName]="craft" class="craft-row">
          <mat-checkbox formControlName="enabled">{{ craft }}</mat-checkbox>
          <input type="number" formControlName="value" min="0" class="value-input" />
        </div>

        <!-- Project End Date -->
        <div class="date-row">
          <label class="date-label">End Project Date:</label>
          <input type="date" formControlName="endProject" class="date-input" />
        </div>

      </form>
    </div>


    <!-- PDF Preview -->
    <div class="iframe-panel">
      <iframe [src]="data.pdfUrl | safeUrl" width="100%" height="100%"></iframe>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Close</button>
  <button 
  mat-flat-button 
  color="primary" 
  (click)="onApplyChanges()"
  [disabled]="allDisabled"
  >Apply Changes</button>
</mat-dialog-actions>
